<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#0c141f">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#6fc3df">
  <title>Audiobooks</title>
  <link rel="stylesheet" href="assets/audioplayer.css" />
  <link rel="stylesheet" href="assets/base.css" />
  <link rel="stylesheet" href="assets/layout.css" />
</head>
<body>
  <header>
    <h1>Audiobooks</h1>
  </header>

  <nav id="audiobooks">
    <ul>
      <% @books.each do |book| %>
        <li>
          <a href="#" class="book-entry">
            <%= book.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>

  <section class="flex flex-col library">
    <% @books.each do |book| %>
      <section class="library-book flex" data-book="<%= book.name %>">
        <article class="w-1/2">
          <h2 id="<%= book.name %>">
            <%= book.name %>
          </h2>

          <ul class="book-files">
            <% book.files.each do |file| %>
              <li>
                <a href="#" class="book-file">
                  <%= file.split('/').last  %>
                </a>
              </li>
            <% end %>
          </ul>
        </article>

        <article class="w-1/2 synopsis">
          <%= book.synopsis %>
        </article>
      </section>
    <% end %>
  </section>

  <section class="player">
    <section class="player--controls flex align-items-center justify-evenly">
      <div class="player--controls__buttons">
        <button class="text-small" id="prev">&larr;</button>

        <button class="text-xxsmall" id="rewind">-15s</button>

        <button id="toggle">||</button>

        <button class="text-xxsmall" id="forward">+15s</button>

        <button class="text-small" id="next">&rarr;</button>
      </div>

      <div class="player--controls__volume">
        <i id="volume_icon">&#x1f508;</i>
        <span id="volume_perc"></span>
        <input type="range" id="volume" min="0" max="100" step="2.5" value="50">
      </div>
    </section>

    <section class="player--song-info text-center">
      <span id="artist"></span>
      <span id="title"></span>
    </section>

    <section class="player--song-track">
      <span id="timestamps">
        <span id="currentTime"></span> / <span id="duration"></span>
      </span>

      <input type="range" id="seek" value="0" min="0" max="0" step="5">
    </section>
  </section>

  <footer>
    <p class="text-center">No copyright infringement intended</p>
  </footer>

  <script src="assets/audioplayer.js"></script>
  <script src="assets/app.js"></script>
</body>
</html>
