.active {
  font-weight: 600;
}

button, input {
  cursor: pointer;
}

button {
  background-color: #000;
  color: #fff;
  padding: 0.1rem 0.8rem 0.2rem;
  margin: 0.4rem;
  border: 1px solid #6fc3df;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #6fc3df;
}

button:active {
  background-color: #666;
  color: #000;
  border-color: #ccc;
  box-shadow: 0px 0px 3px #0c141f;
}

/******** player ********/
/* flex: <flex-grow> <flex-shrink> <flex-basis> */
#player {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
}

#controls {
  flex: 1 1 30%;
  order: 1;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
}

#playlist-container {
  order: 3;
  flex: 2 1 40%;
}

.player--song-info {
  order: 2;
  flex: 2 1 40%;
  font-size: 0.9rem;

  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}
.player--song-info figure {
  flex: 1 1;
  order: 1;

  display: flex;
  flex-flow: row nowrap;
}
.player--song-info figure img {
  order: 1;
  flex: 2 1;
	max-width: 64px;
	max-height: 64px;
}
.player--song-info {
  order: 2;
  flex: 1 1;
  padding-left: 0.5rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.player--song-info #title {
  order: 1;
}
.player--song-info #artist {
  font-size: 0.7rem;
  order: 2;
}

.player--song-track {
  display: flex;
}
.player--song-track #timestamps {
  font-size: 0.85rem;
  margin: 0 1rem;
  order: 2;
}
.player--song-track #seek {
  flex: 2 1;
  order: 1;
}

#controls button { flex-grow: 2; }
#controls button.small { flex-grow: 1; }

#seek {
  flex: 2 1 100%;
}

#volume-container {
  flex: 2 1 100%;
  display: flex;
  flex-flow: row nowrap;
}
#volume {
  flex: 2 1 75%;
}

#playlist-container ul {
  order: 3;
  list-style-type: none;
  padding-left: 0;
}
#playlist-container ul li {
  cursor: pointer;
  margin: 0.25rem 0;
}
#playlist-container ul li a {
  color: inherit;
  text-decoration: none;
}
