:root {
  --bg:   #0c141f;
  --fg:    #6fc3df;
  --black:   #0c141f;
  --red:     #df740c;
  --orange:  #f58c4b;
  --yellow:  #f8e420;
  --magenta: #cb15c9;
  --blue:    #6f15cb;
  --cyan:    #6fc3df;
  --green:   #00ff00;
  --white:   #e6ffff;

  --player-height: 7rem;
  --player-padding: 1rem;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font: normal 16px/18px 'Fira Sans', 'Fira Code', 'Terminus', sans-serif;
  margin: 1rem auto;
  max-width: 90%;
  padding-bottom: var(--player-height);
}

a,
a:visited {
  color: var(--yellow);
  text-decoration: none;
}

ul > li {
  margin: 0.25rem 0;
}

.pointer { cursor: pointer; }
.strike-through, .strike { text-decoration: line-through; }

.semi-bold { font-weight: 500; }
.bold { font-weight: 600; }

.text-center { text-align: center; }
.text-left { text-align: right; }
.text-right { text-align: right; }

.text-xxsmall  { font-size: xx-small; }
.text-xsmall   { font-size: x-small; }
.text-small    { font-size: small; }
.text-medium   { font-size: medium; }
.text-large    { font-size: large; }
.text-xlarge   { font-size: x-large; }
.text-xxlarge  { font-size: xx-large; }
.text-xxxlarge { font-size: xxx-large; }

/* these sizes are RELATIVE to parent's font size */
.text-larger  { font-size: larger; }
.text-smaller { font-size: smaller; }

/*********** width ***********/
.w-full { width: 100%; }
.w-1\/2 { width: 50%; }
.w-1\/3 { width: 33%; }
.w-1\/4 { width: 25%; }

/*********** flex ***********/
.flex { display: flex; }

.flex-row { flex-direction: row !important; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-col { flex-direction: column; }
.flex-col-reverse { flex-direction: column-reverse; }

.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }

.flex-grow-0 { flex-grow: 0; }
.flex-grow   { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }

.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.justify-evenly { justify-content: space-evenly; }
.align-items-center { align-items: center; }

/************* player styles *************/
input[type="range"] {
  background-color: transparent;
}
input[type="range"]::-moz-range-track {
  background-color: var(--fg);
}
input[type="range"]::-moz-range-progress {
  background-color: var(--yellow);
}

.player {
  background-color: var(--bg);
  height: var(--player-height);
  width: 100%;
  margin: 0;
  padding: var(--player-padding) 0.125rem;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "Fira Code", monospace;
  font-size: 0.75rem;

  display: flex;
  flex-flow: column nowrap;
}

.player--controls__buttons {
  margin-bottom: 0.5rem;
}
.player--controls__buttons button {
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
  padding: 0;
  border-radius: 1rem;
}

.player--controls__volume {
  max-width: 12rem;
  display: flex;
  align-items: center;
}
.player--controls__volume #volume_icon {
  font-size: 2rem;
}

.player--song-info #title {
  color: var(--magenta);
}
.player--song-info #artist {
  font-size: 0.75rem;
}
