body {
  display: grid;
  grid-template:
  "header header header"
  "audiobooks library library"
  "footer footer footer"
}

header {
  grid-area: header;
}

nav#audiobooks {
  grid-area: audiobooks;
}

section.library {
  grid-area: library;
}

footer {
  grid-area: footer;
}

#audiobooks {
}
#audiobooks ul {
  padding: 0 3rem 0 0;
}
#audiobooks ul li {
  max-width: 30rem;
  text-overflow: clip;
}

.book-files {
  max-height: 30vh;
  overflow-y: scroll;
}
